@font-face {
  font-family: 'next-font';
  src:url('../fonts/next-font.eot?5cwgnv');
  src:url('../fonts/next-font.eot?#iefix5cwgnv') format('embedded-opentype'),
  url('../fonts/next-font.woff?5cwgnv') format('woff'),
  url('../fonts/next-font.ttf?5cwgnv') format('truetype'),
  url('../fonts/next-font.svg?5cwgnv#next-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="n-icon-"], [class*=" n-icon-"] {
  font-family: 'next-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.n-icon-zoomout2-minus:before {
  content: "\e613";
}
.n-icon-zoomin2-plus:before {
  content: "\e614";
}
.n-icon-switch:before {
  content: "\e60f";
}
.n-icon-switchbg:before {
  content: "\e610";
}
.n-icon-router:before {
  content: "\e611";
}
.n-icon-routerbg:before {
  content: "\e612";
}
.n-icon-zoomout:before {
  content: "\e606";
}
.n-icon-zoomin:before {
  content: "\e607";
}
.n-icon-zoombyselection:before {
  content: "\e608";
}
.n-icon-viewsetting:before {
  content: "\e609";
}
.n-icon-selectnode:before {
  content: "\e60a";
}
.n-icon-movemode:before {
  content: "\e60b";
}
.n-icon-fullview:before {
  content: "\e60c";
}
.n-icon-fitstage:before {
  content: "\e60d";
}
.n-icon-aggregation:before {
  content: "\e60e";
}
.n-icon-interface:before {
  content: "\e600";
}
.n-icon-router2:before {
  content: "\e601";
}
.n-icon-openflow:before {
  content: "\e602";
}
.n-icon-BMP:before {
  content: "\e603";
}
.n-icon-BGP:before {
  content: "\e604";
}
.n-icon-acl:before {
  content: "\e605";
}