.n-topology(@primaryColor,@secondaryColor,@topologyBackgroundColor,@secondBackgroundColor,@nodeSelectedBGColor) {
  position: relative;
  overflow: hidden;
  background: @topologyBackgroundColor;
  -webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
  transition: all 0.6s;
  .user-select(none);

  g {
    pointer-events: all;
  }

  defs .bg {
    fill: @primaryColor;
  }

  defs .stroke {
    stroke: @primaryColor;
  }

  defs [fill*='#FFFFFF'] {
    fill: @topologyBackgroundColor;
  }

  .n-svg {
    border: none;
    .user-select(none);
  }

  .node {
    .selectedBG {
      fill: transparent;
      opacity: 0.8;
      stroke: @nodeSelectedBGColor;
      stroke-width: 3;
      pointer-events: none;
    }

    .dot {
      fill: @primaryColor;
    }

    .dot {
      fill: @primaryColor;
    }

    text.node-label {
      font-family: "Cisco Sans Reg";
      fill: @primaryColor;
      pointer-events: none;
      .user-select(none);
    }

    &.disable {
      opacity: 0.3;
      stroke: #ccc;
    }

  }

  .link {

    path, line {
      stroke: @secondaryColor;
      stroke-width: 1px;
      fill:transparent;
    }

    .link-label {
      font-family: "Cisco Sans Reg";
      fill: @primaryColor;
      font-size: 12px;
    }
    .source-abel {
      font-family: "Cisco Sans Reg";
      fill: @primaryColor;
      opacity: 0.8;
      font-size: 12px;
    }
    .target-label {
      font-family: "Cisco Sans Reg";
      fill: @primaryColor;
      opacity: 0.8;
      font-size: 12px;
    }

    .disable-label {
      fill: @brand-danger;
    }

    &.disable {
      path, line {
        stroke: #ccc !important;
        stroke-width: 1px;
      }
    }

    &.link-selected {
      path, line {
        stroke: #ccc;
        stroke-width: 2px;
      }
    }

  }

  .group {

    .bg {
      opacity: 0.5;
    }

    .groupLabel {
      cursor: pointer;
      font-size: 18px;
      font-family: "Cisco Sans Reg";
    }

    .groupLabel:hover ~ .bg {
      opacity: 0.7;
    }

  }

  .link-set {

    &-bg {
      stroke: @primaryColor;
      stroke-width: 2px;
    }
    &-circle {
      fill: @primaryColor;
      stroke: @primaryColor;
      stroke-width: 16px;
      stroke-linejoin: round;
    }
    &-text {
      fill: @topologyBackgroundColor;
      text-anchor: middle;
      dominant-baseline: central;
      font-size: 13px;
      pointer-events: none;

    }
  }

  @media screen and (-webkit-min-device-pixel-ratio: 0) {
    /* Safari only override */
    ::i-block-chrome, .link-set-circle {
      stroke-width: 8px !important;
    }
  }

  .mapPah {
    fill: @secondBackgroundColor;
    stroke: @topologyBackgroundColor;
    stroke-width: 1;
  }

  .selectionRect {
    stroke: @primaryColor;
    fill: @primaryColor;
    fill-opacity: 0.1,
  }

  &-setting {
    max-width: none !important;
  }

  .aggregationGroup {

    .aggregationText {
      fill: @primaryColor;
      font-size: 12px;
    }

    .aggregationRect {
      fill: @primaryColor;
      opacity: 0.2;
      stroke: @primaryColor;
      stroke-width: 3;
      stroke-linejoin: round;
      pointer-events: none;
    }

  }
}
