.n-topology-nav(@toolBarModeBg,@toolbarBorder,@toolbarColor,@zoomBarHover,@zoomBarHoverBG:#ccc,@iconHoverBG:#ccc) {
  .n-topology-nav {
    position: absolute;
    top: 0px;
    left: 8px;
    .user-select(none);

    li {
      list-style: none;
      padding: 0px;
    }

    ul {
      padding: 0px;
      margin: 0px;
    }

    span {
      -webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
      transition: all 0.6s;
    }

    & > ul {
      padding: 0px;
      margin-top: 30px;
      width: 32px;
    }

    & > ul > li {
      display: inline-block;
      list-style: none;
      margin-top: 5px;
      width: 32px;
      -webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
      transition: all 0.6s;
    }

    &-mode {
      padding: 0px;
      position: relative;
      width: 32px;
      li {
        width: 32px;
        height: 32px;
        line-height: 35px;
        display: inline-block;
        text-align: center;
        cursor: pointer;
        -webkit-transition: all 0.6s; /* For Safari 3.1 to 6.0 */
        transition: all 0.6s;
        background: @toolBarModeBg;
        border: solid 1px @toolbarBorder;
        margin-top: -2px;
        &:hover {
          span {
            color: @brand-primary;
          }
        }
      }
      span {
        color: @toolbarColor;
        display: inline-block;
        font-size: 18px;
      }
      &-selected {
        background: @brand-primary !important;
        span {
          color: @body-bg;
        }
        &:hover {
          background: @brand-primary !important;
          span {
            color: @body-bg !important;
          }
        }
      }
    }

    &-zoom {
      position: relative;
      height: 118px;
      margin-top: 18px !important;
      & > span {
        display: inline-block;
        position: absolute;
        text-align: center;
        font-size: 20px;
        color: @toolBarModeBg;
        background: @toolbarColor;
      }

      &-in {
        top: 0px;
        left: 7px;
        cursor: pointer;
        &:hover {
          background: @zoomBarHoverBG;
          color: @zoomBarHover;
        }
      }

      &-out {
        top: 97px;
        left: 7px;
        cursor: pointer;
        &:hover {
          background: @zoomBarHoverBG;
          color: @zoomBarHover;
        }
      }

      &-ball {
        top: 21px;
        left: 9px;
        width: 14px;
        height: 2px;
        background: @toolbarColor;
      }

      &-bar {
        top: 20px;
        left: 14px;
        background: @toolBarModeBg !important;
        width: 4px;
        height: 77px;

      }
    }

    &-zoom-selection {
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      font-size: 20px;
      height: 32px;
      color: @toolbarColor;
      &:hover {
        color: @iconHoverBG;
      }

      &-selected {
        color: lighten(@brand-primary, 20%);
      }

    }

    &-fit {
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      font-size: 20px;
      height: 32px;
      color: @toolbarColor;
      &:hover {
        color: @iconHoverBG;
      }
    }

    &-agr {
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      font-size: 20px;
      height: 32px;
      color: @toolbarColor;
      display: none;
      &:hover {
        color: @iconHoverBG;
      }
    }

    &-full {
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      font-size: 16px;
      height: 32px;
      color: @toolbarColor;
      &:hover {
        color: @iconHoverBG;
      }
    }

    &-topo3d {
      margin-left: 5px;
      //    cursor: pointer;
      opacity: 0.3;
    }

    &-topo3d-show-true {
      opacity: 1;
      cursor: pointer;
    }

    &-setting {
      margin-top: 0px !important;
      cursor: pointer;
      line-height: 32px;
      text-align: center;
      font-size: 14px;
      height: 32px;
      color: @toolbarColor;
      -webkit-transition: none 0 !important; /* For Safari 3.1 to 6.0 */
      transition: none 0 !important;
      &:hover {
        opacity: 1;
        color: lighten(@brand-primary, 5%);
      }

      &-icon-selected {
        color: lighten(@brand-primary, 5%);
      }

    }
  }
}

.n-topology-setting-panel {

  max-width: 330px;

  .popover-content {

    width: 330px;
    line-height: 24px;
    height: auto;
    h3 {
      margin: 4px 0px 6px 0px;
    }

    .n-radio {
      margin-right: 12px;
      font-weight: normal;

      span {
        margin-left: 3px;
      }
    }

    &-content {
    }

    &-label {
      display: inline-block;
      margin-right: 20px;
    }

    .toggleLabelCheckBox {
      float: right;
      margin-right: 12px;
    }

  }
}