<!DOCTYPE HTML>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
    <script type="text/javascript" src="http://10.75.161.96:8080/jenkins/job/NeXt-Core/lastSuccessfulBuild/artifact/dest/next-core.js"></script>
    <script type="text/javascript" src="http://10.75.161.96:8080/jenkins/job/NeXt-UI/lastSuccessfulBuild/artifact/dest/js/next-ui.js"></script>
    <script type="text/javascript">
        nx.define("Base", nx.ui.Component, {
            view: {
                content: [{
                    content: "Base content"
                }]
            }
        });
        nx.define("Extend", Base, {
            view: function (view) {
                view.content.push({
                    content: "Extend content"
                });
                return view;
            }
        });
        nx.ready(nx.define(nx.ui.Component, {
            view: {
                content: [{
                    type: "Base"
                }, {
                    type: "Extend"
                }, {
                    type: "Base"
                }]
            }
        }));
    </script>
</head>

<body>
</body>

</html>
