@import "variables";
@primarySelectedColor :@brand-primary;
@secondaryColor : @brand-info;
@nodeSelectedBGColor : @brand-warning;
@topologyBackgroundColor : @body-bg;
@secondBackgroundColor : @component-active-color;
.n-topology.n-topology-slate{
  .n-topology;
}